.logo-page-bk{
	background: rgba(0, 0, 0, 0) url("../images/custom/Logo_BK.png") no-repeat scroll left center;
    height: 46px;
    padding: 38px 0;
    /* width: 411px; */
}

.btn-primary-bp {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

body {
  margin:0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}
.color-ogange {
  color: #faa61a;
}
.color-white {
  color: #fff !important;
}

.sct-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-register {
  background: #fcb931;
  border: 1px solid #fcb931;
}

.button-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.topnav li {float: left;}
ul.topnav li a {
  display: inline-block;
  color: #364e63;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 700;
}
ul.topnav li a:hover {background-color: #fcb931;color: #12669b;}
ul.topnav li.icon {display: none;}
.wrapper-nav .navbar-right {
  list-style: none;
  margin-bottom: 0;
}
/*Start header*/
.wrapper-header-top .header-top{
  padding: 20px 0;
}
.wrapper-header-top .header-top ul li{

}
.wrapper-header-top .header-top li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
.wrapper-header-top .header-top li a.active {
  color: #f8941f;
  border-bottom: 1px solid;
}
.logo-page {
  padding: 20px 0;
}
.logo-page a {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.5;
}
.logo-page a:hover {
  text-decoration: none;
  color: #fff;
}

.after-login {
    list-style: none;
}

.after-login li {
    float: left;
    padding: 10px;
}

.after-login li a {
    color: #f1f1f1;
}

.after-login li a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.after-login li a i {
    color: #fff;
    width: 14px;
    height: 19px;
    margin-right: 10px;
}

/*End header*/

/*Start wrapper-nav*/
.wrapper-nav {
  background: #f8941f;
}

.land-hotline a img {
  content: url("../images/custom/hotline.png");
}

.navbar-right a img {
  content: url("../images/custom/hotline.png");
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
}

/*End wrapper-nav*/

/*Start featured*/
.wrapper-featured {
  background: url(../images/custom/featured.png) center no-repeat;
}
.title-featured .color-ogange span {
  font-size: 26px;
  text-transform: uppercase;
}
.title-featured .color-white span {
  font-size: 15px;
}
.title-featured {
  margin-bottom: 30px;
}
.login-register {
  margin-bottom: 60px;
}
.wrapper-featured .container-inner {
  display: inline-block;
  width: 100%;
  padding: 50px 0px;
}
.btn-login {
  background: url(../images/custom/icon-login.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 19px;
  float: left;
  margin-right: 10px;
}
.btn-ico-register {
  background: url(../images/custom/icon-register.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 19px;
  float: left;
  margin-right: 10px;
}
.login-register a {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12.5px;
}
.login-register a:hover {
  text-decoration: none;
}
.login-register .button-primary {
  margin-right: 10px;
}
.btn-register:hover {
  background: #f8941f;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.title-featured {
    margin-bottom: 30px;
    padding-left: 30px;
}

/*End featured*/

/*Start wrapper-content*/
.icon-register-account {
  background: url(../images/custom/icon-lock.png) no-repeat;
  width: 29px;
  height: 39px;
}
.icon-login-profile {
  background: url(../images/custom/login-profile.png) no-repeat;
  width: 40px;
  height: 33px;
}
.icon-pending-profile {
  background: url(../images/custom/icon-datetime.png) no-repeat;
  width: 39px;
  height: 40px;
}
.icon-fees-result {
  background: url(../images/custom/icon-money.png) no-repeat;
  width: 49px;
  height: 33px;
}
.icon-register-account, .icon-login-profile,.icon-pending-profile, .icon-fees-result {
  float: left;
  margin-right: 10px;
}
.wrapper-content .container-inner {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.register-account,.login-profile,.pending-profile,.fees-result {
  width: 75%;
}
.color-blue {
  color: #364e63;
  font-weight: 700;
  font-size: 12.5px;
}
.content-common {
  margin: 5px 0;
}
/*End wrapper-content*/

/*Start wrapper-footer*/
.wrapper-footer {
  background: #6c7075;
}
.wrapper-footer .container-inner {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.title-place-phone .color-ogange {
  font-size: 12px; 
  text-transform: uppercase;
}
.place span, .phone-number span {
  font-size: 12px;
  color: #fff;
}
.place, .phone-number {
  line-height: 1.8;
}
.title-place-phone {
  margin-bottom: 10px;
}
.icon-place {
  background: url(../images/custom/icon-place.png) no-repeat;
  width: 9px;
  height: 15px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}
.icon-phone {
  background: url(../images/custom/icon-phone.png) no-repeat;
  width: 13px;
  height: 14px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}
.title-introduction span {
  font-size: 12px;
  font-weight: 700;
}
.menu-intro ul{
  padding: 0;
  list-style: none;
}
.title-introduction {
  margin-bottom: 10px;
}
.menu-intro ul li {
  line-height: 1.8;
}
.menu-intro ul li a {
  font-size: 12px; 
  color: #fff;
}
.place-phone {
  margin-bottom: 20px;
}
/*End wrapper-footer*/

@media screen and (max-width:767px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  .container {
    padding: 0;
  }
  .hotline {
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 0;
  }
  .introduction {
    margin-left: -15px;
    margin-right: -15px;
  }
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  .wrapper-header-top ul.topnav li:not(:first-child) {
    display: block
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .introduction {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* Site map*/
a.sm-tutorial img {
  content: url("../images/custom/Step1.png");
}
a.sm-login img {
  content: url("../images/custom/Step2.png");
}
a.sm-uw img {
  content: url("../images/custom/Step3.png");
}
a.sm-result img {
  content: url("../images/custom/Step4.png");
}
